<br><br><br>
<nav class= "teams">
<h1 class="teams_title">Teams</h1>

<p class="teams_details">All teams, percentage of games where both teams have scored.</p>

<table>
  <tr>
    <th>Team</th>
    <th>Last 5 games</th>
    <th>Season Goals</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team %></td>
    <td><%= team.last_five_results_percentage %>%</td>
    <td><%= team.form_percentage %>%</td>
  </tr>
<% end %>
</table>

<br />
</nav>

