<div class="row">
  <div class="about">
    <h1 class="about_title">Goals Galore</h1>
    <p class"about_text">How many times have you put a nice accumulator bet on a Saturday and within 10 minutes, one of your teams are 2 or 3 goals down? You can pretty much be sure todays not your lucky day. <br> How about betting on both teams to score? The odds are still nice when in an accumulator and the bets not over, till the games over.</p>

    <h1 class="about_title">How it works</h1>

    <p class="about_text">The aim of this site is to try and give you a bit more infomation to base your choices on. Instead of being a pure lottery, you can use the stats on this site to make a more informed decision based on a teams last 5 games, the last few times they met and their form throughout the season.<br><br>The example below is from the "This weeks fixtures" section on the "Fixtures" page. It shows you which teams are playing when and how many of their last 5 games haves resulted in both teams scoring, (Last 5). Along side this is a recommedation for the game based on a combination of these percentages (BTTS on last 5), as well as a reccomendation based upon their season long form, (BTTS on season Form).</p>

    <%= image_tag("example.png") %>

    <p class"about_text">I hope you find this site useful and best of luck!</p>

  </div>
</div>