<br><br><br>
<div class="index">
    <div class="test">
      <%= image_tag("stadium.jpg", class: "splash") %>
      <h1 class="index_title">Goals Galore</h1>
      <h2 class="index_sub">What Saturdays were made for!</h2>
      <button class="button index_button" id="intro_link">Hello</button>
      
    </div>
    

<div>
