<br><br><br>
  
  <div class="row">
    
    <div class="test">
      <%= image_tag("stadium.jpg", class: "splash") %>
      <h1 class="index_title">Goals Galore</h1>
      <h2 class="index_sub">What Saturdays were made for!</h2>
    </div>
    
  </div>

