
<div class="splash">
  
  <%= image_tag("stadium.jpg", class: "splash") %>
  <div class="row" id="title">
    <h1>Goals Galore</h1>
    <h2>What else you gunna do on a Saturday?</h2>
  </div>
</div>

