
#all_fixtures,
#last_five,
#home_form,
#away_form,
#all_form,
#fixtures,
.joined,
#seven_days {
  display: none;
}

.last_five {}

.footer {

bottom: 0;
width: 100%;
height: 50px;
background-color: #014347;
z-index: 1;
}

.teams {
  min-height: 500px;
}

.team_show {
  min-height: 500px;
}

.results {
  min-height: 500px;
}

.about {
  min-height: 500px;
}

.about p {
  background-color: #014347;
  margin-top: 20px;
}


.team_show {
  min-height: 500px;
  background-color: #00C176;
}


#logo {
  background-color: #014347;
}

#search {
  background-color: #014347;
}

.team_show, h2 {
  background-color: #014347;
}

.team_show, h1 {
  background-color: #3E5950;
}



 #title {
  color: white;
 }

#navbar {
  background-color: #014347;
  position: fixed;
  z-index: 1;
}

#submit {
  background-color: #014347;
}

.seven_days {
  background-color: #014347;
}

.all_fixtures {
  background-color: #014347;
}

.top-bar {
  background-color: #014347;
}



.top-bar-section, ul, li {
  background-color: #014347
}

 .bad {
   background-color: red;
 }

 .good {
   background-color: rgba(142, 255, 37, 0.90);
 }

 .awesome {
  background-color: rgba(142, 255, 37, 0.90);
 }

 .ok {
  background-color: orange;
 }

 .about, h1 {
  color: white;
 }

 .team_about, h1 {
  color: white;
  font-size: 50px;
 }


 .splash {
   background-size: cover;
   text-align: center;
 }

 .splash, h1 {
  color: white;
 }

 .splash, h2 {
  color: white;
 }


.logo {
  background-color: rgb(54, 54, 54);
}

.teams_details {
  background-color: #014347
}

#container
{
    height:400px;
    width:400px;
    position:relative;
}

.cover
{    
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

.fixtures {
  min-height: 600px;
}





