#all_fixtures,
#last_five,
#home_form,
#away_form,
#all_form,
#fixtures,
.joined,
#seven_days {
  display: none;
}

.all_teams th {
  background-color: #014347;
  color: white;
  text-align: center;
}

.all_teams td {
  text-align: center;
}

.joined th, #seven_days th, #all_fixtures th {
  background-color: #014347;
  color: white;
  text-align: center;
}

.joined td, #seven_days td, #all_fixtures td {
  background-color: rgba(106,113,119,0.2);
  color: black;
  font-weight: bold;
  text-align: center;
}

#last_five th, #home_form th, #away_form th, #all_form th, #fixtures th {
  background-color: #014347;
  color: white;
  text-align: center;
}

.joined, #seven_days, #all_fixtures {
  background-color: rgba(106,113,119,0.4);
  color: white;
}

.results_table th {
  background-color: #014347;
  color: white;
  text-align: center;
}

.results_table td {
  background-color: rgba(106,113,119,0.2);
  color: #014347;
  font-weight: bold;
  text-align: center;
}

.results_table {
  background-color: rgba(106,113,119,0.4);
  color: white;
}

.results_table a {
  color: #014347;
}

.last_five, .home_form, .away_form, .all_form, .fixtures {
  color: white;
}

.footer {

bottom: 0;
width: 100%;
height: 50px;
background-color: #014347;
z-index: -1;
text-align: center;
font-size: 20px;
}

.teams {
  min-height: 500px;
}

.results {
  min-height: 500px;
}

.about {
  min-height: 500px;
}

.about p {
  background-color: #014347;
  margin-top: 20px;
}

.team_show {
  background-color: #00C176;
}


#logo {
  background-color: #014347;
  font-family: 'Lobster';
  font-size: 32px;
}

#search {
  background-color: #014347;
}

.team_show h2 {
  background-color: #014347;
}

 #title {
  color: white;
 }

#navbar {
  background-color: #014347;
  position: fixed;
  z-index: 1;
}

#submit {
  background-color: #014347;
}

.seven_days, .all_fixtures {
  background-color: #014347;
  font-family: 'Lobster';
  color: white;
}

.top-bar {
  background-color: #014347;
}

.top-bar-section ul li {
  background-color: #014347
}

 .bad {
   background-color: red;
   font-weight: bold;
   text-align: center;
   border-radius: 10px;
 }

 .good {
   background-color: rgba(142, 255, 37, 0.90);
   text-align: center;
   border-radius: 10px;
 }

 .awesome {
  background-color: rgba(142, 255, 37, 0.90);
 }

 .ok {
  background-color: orange;
 }

 .about h1 {
  color: white;
 }

 .team_about h1 {
  color: white;
  font-size: 50px;
 }


 .splash {
   
 }

 .test img {
  position: relative; 
 }

 .test .index_title {
  position: absolute; 
  top: 100px;
  right: 120px;
 }

 .test .index_sub {
  position: absolute; 
  top: 170px;
  right: 120px;
 }

.logo {
  background-color: rgb(54, 54, 54);
}

#container
{
    height:400px;
    width:400px;
    position:relative;
}

.cover
{    
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

.about_title {
  font-family: 'Lobster';
  font-size: 45px;
}

.index_title, .index_sub, .results_title, .fixtures_title, .teams_title, .team_title, .match_title {
  font-family: 'Lobster';
  font-size: 60px;
  color: white;
}





